* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(32, 33, 36);
}

.container {
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #c770fc;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: #c770fc;
  cursor: pointer;
  transition: all 300ms ease;
  border-radius: 40px;
}

button:hover {
  background-color: white;
  color: #c770fc;
}

button:active {
  transform: scale(0.9);
}

input {
  background-color: rgba(255, 255, 255, 0.848);
  color: black;
  padding-left: 40px;
}

input:focus {
  outline: none;
}

/* NAV */

.logo__wrapper {
  width: 160px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  font-weight: bold;
  margin-right: 40px;
}

.title {
  font-size: 52px;
  color: #c770fc;
}

.contact {
  color: white;
  background-color: #c770fc;
  font-weight: bold;
  padding: 16px 40px;
  border-radius: 40px;
}

/* LANDING */

#landing {
  min-height: calc(100vh - 144px);
}

.content__wrapper {
  width: 100%;
  max-width: 800px;
  margin: 40px auto 0 auto;
}

.secondary {
  color: #c770fc;
}

.title,
.sub-title {
  text-align: center;
  margin-bottom: 32px;
}

.sub-title {
  color: white;
}

.input__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin: 0 auto;
  max-width: 100px;
}

.search__input {
  width: 100%;
  font-size: 20px;
  padding: 8px;
  border-radius: 20px;
}

.btn__home {
  border-radius: 20px;
  margin-left: 20px;
  color: #c770fc;
  width: 80px;
  height: 60px;
}

.btn__home:hover .home__search--icon {
  color: #c770fc;
}

.landing__img--wrapper {
  margin-top: 80px;
}

.search__wrapper {
  display: flex;
}

.home__search--icon {
  width: 40px;
  height: 40px;
  color: white;
  background-color: transparent;
}

.loading {
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotate(180deg);
  color: white;
  transition: all 300ms ease;
  animation: rotate 800ms linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.btn__home:hover .loading {
  color: #c770fc;
}

/* MOVIES */

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.movie {
  width: 100%;
  max-width: calc(100% / 6);
  padding: 20px;
  cursor: pointer;
}

.movie:hover .movie__title {
  text-decoration: underline;
}

.movie__img--wrapper:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

.movie__img--wrapper {
}

.movie__title {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: white;
}

/* Search Page */

.row__search {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.browse {
  text-align: center;
  font-size: 40px;
  color: white;
}

.search__container {
  display: flex;
  flex-direction: column;
}

.input__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  position: relative;
  max-width: 600px;
}

.searchTxt {
  font-size: 32px;
  margin-top: 40px;
}

.search__text {
  color: white;
  margin-top: 60px;
  margin-left: 20px;
  font-size: 18px;
}

.search__icon {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 6px;
  right: 10px;
  width: 30px;
  height: 30px;
  color: #c770fc;
  background-color: transparent;
  transition: all 200ms ease;
}

.search__icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Movie Page */

.back__wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin-top: 40px;
}

.btn__back {
  transition: all 300ms ease;
}

.back__wrapper:hover .btn__back {
  transform: scale(1.1);
}
.back__wrapper:hover {
  cursor: pointer;
}

.back__text {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.btn__back {
  width: 40px;
  height: 40px;
  color: white;
}

.description__img--wrapper {
  width: 30%;
}

.description__title,
.description__year,
.description__ratings,
.description__runtime,
.description__actors,
.description__genre,
.description__language,
.description__para {
  color: white;
  margin-bottom: 24px;
}

.description__title {
}
.description__year {
  margin-bottom: 60px;
}
.description__para {
  margin-bottom: 20px;
}
.description__summary {
  color: white;
  margin-bottom: 10px;
}

.container__flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.description__content--wrapper {
  width: 100%;
  max-width: 500px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SKELETONS */

.movie__skeleton--img {
  background-color: rgba(143, 143, 143, 0.662);
  width: 90%;
  height: 360px;
  border-radius: 20px;
  margin: 10px;
}

.movie__skeleton--title {
  background-color: rgba(143, 143, 143, 0.662);
  height: 40px;
  width: 85%;
  border-radius: 20px;
  margin: 0 10px;
}

.movie__skeleton {
  width: calc(100% / 6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
